apiVersion: batch/v1
kind: CronJob
metadata:
  name: nlp-periodic-task
spec:
  schedule: "0 0 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: nlp-pipeline
            image: nlp-pipeline:latest
          restartPolicy: OnFailure
